[submodule "external/Flood-inundation-mapping"]
	path = external/Flood-inundation-mapping
	url = https://github.com/WilliamLUO0/Flood-inundation-mapping.git
[submodule "external/SwinIR"]
	path = external/SwinIR
	url = https://github.com/WilliamLUO0/SwinIR.git
[submodule "external/PFT-SR"]
	path = external/PFT-SR
	url = https://github.com/WilliamLUO0/PFT-SR.git
[submodule "external/BG_Flood"]
	path = external/BG_Flood
	url = https://github.com/CyprienBosserelle/BG_Flood.git
	branch = ManyRivers
